<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Modified DataFrame</title>
    <style>
      .dataframe {
        border-collapse: collapse;
        width: 100%;
      }
      .dataframe th, .dataframe td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
      }
      .dataframe th {
        background-color: #f2f2f2;
      }
    </style>
  </head>
  <body>
    <h1>Modified DataFrame</h1>
    <div>
      {{ table|safe }}
    </div>
    <br>
    <a href="{{ url_for('download_file') }}">Download Modified Excel File</a>
  </body>
</html>
